[2016-02-17 13:02] sils opened #1 "chktex not there"

[2016-03-06 17:01] sils opened #2 "add go dependencies"
@AbdealiJK can you help me getting all bear deps in this image?

[2016-03-06 17:04] AbdealiLoKo commented on #2
My current computer cannot run docker (its 32bit).
I can look into it tomorrow when I go to my university

[2016-03-06 17:08] sils commented on #2
I think the main thing is that we don't have something like a goopfile
anymore for go and stuff... ideally I wouldn't want to need to resync the
docker image manually

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-06 18:04 GMT+01:00 AbdealiJK notifications@github.com:

[2016-03-09 04:56] AbdealiLoKo commented on #2
@sils1297 we can just make a goopfile but not use in circleci.
Circleci seems to have a problem with it, but it works on my local machine

On Sun, Mar 6, 2016 at 10:38 PM, Lasse Schuirmann notifications@github.com
wrote:

[2016-03-09 09:40] sils commented on #2
Have we identified the problem with the goop file? Can we maybe file an issue for that? It'd be way easier to manage deps that way...

[2016-04-30 13:57] sims1253 opened #3 "Add new dependencies"
It seems like there is at least the go and vhdl dependencies missing. Probably more.

[2016-04-30 14:02] sils commented on #3
yes... and manpower :/ can you look into this? see also https://github.com/coala-analyzer/docker-coala-base/issues/2 and https://github.com/coala-analyzer/docker-coala-base/issues/1

[2016-05-13 21:44] sils1297 commented on #3
@fneu can you please do this by may 20th? Should be really quick.

[2016-06-12 09:43] stefanoco opened #7 "cppcheck bear not available"
It seems that CPPCheckBear is not available in the docker image.

[2016-06-12 09:53] sils commented on #7
Hey @stefanoco thanks for this report. @fneu didn't you want to have a PR ready yesterday adding the missing deps?

[2016-06-12 10:41] sils commented on #7
this should be fixed, IIUC you're just trying it out, close this if it works.

@fneu your PR is still due, what happened?

[2016-06-15 17:45] stefanoco opened #9 "DNS settings for Docker"
While using this Docker image for GitLab CI integration I realized that a tricky issue can arise in this setup, while using a private GitLab repo, which is fairly common for closed development.

Not directly related to this image but a short note can save time here: when using a Docker image for GitLab CI build, the runner will start a new container and from inside the container a `git clone` comm

[2016-06-15 19:52] stefanoco opened #10 "Can't use CPPCheckBear"
Trying to use CPPCheckBear on `pre` docker.
My gitlab-ci.yml contains:

[code]

The resulting build shows:

[code]

Please note that building the same container locally everything works well

[2016-06-16 09:06] sils commented on #10
@fneu can you try reproducing this?

[2016-06-16 10:35] fneu commented on #10
I can confirm and the reason is obvious I think.

Our dockerfile in the `pre` branch doesn't actually install the latest version of coala but the latest release. Yes it's the exact same file as on master. CPPCheckBear is not available in that version.

Running `pip install --no-cache-dir --pre --upgrade coala-bears` installed the latest coala and made CPPCheckBear available for me. I will add the

[2016-06-16 11:43] fneu commented on #10
fixed for me

[2016-06-16 11:43] #10 closed, assigned to nobody

[2016-06-16 11:48] sils commented on #9
Also we probably want to  have a documentation page about the docker image and the editor plugins in general.

[2016-06-16 11:50] fneu commented on #7
CPPCheckBear is not available because it is not part of coala-bears 0.2.0.

It is now available on the `pre` branch and will be available on master after the next release of coala and coala-bears.

[2016-06-16 11:51] #7 closed, assigned to nobody

[2016-06-16 18:25] sils commented on #9
CC @fneu for docker issues

[2016-06-17 10:12] sils commented on #9
@stefanoco I currently don't fully understand the issue, would you mind writing this down as a small paragraph we can include in the documentation? I can take care of making it a commit, attribute it to you and get it through QA. (You can do it yourself as well if you want of course but I understand time is an issue.)

[2016-06-19 07:47] stefanoco commented on #9
Sure I'm writing a note about this in a comment here. As you said time is an issue and I'm currently not a regular contributor to GH projects like this one but I promise I'll try to, because we're seriously starting using coala in my company.

[2016-06-19 08:24] stefanoco commented on #9
A coala-analyzer docker image is useful when automating a check withing a GitLab CI assisted workflow. In a properly configured GitLab CI setup (please see related documentation [here](http://docs.gitlab.com/ce/ci/)), the server will try to execute the requested operations in a runner environment by first [starting a specified docker image](http://docs.gitlab.com/ce/ci/docker/using_docker_images.h

[2016-06-19 09:17] sils commented on #9
That was quick, thanks! I'll look to it that it gets added to the docs.

[2016-06-19 09:32] sils commented on #9
@stefanoco hm, that sounds like we should rather fix that in our image itself so users don't need to bother with it at all?

[2016-06-19 09:35] sils commented on #9
CC @fneu how is the work on the new image going? We could preconfigure it like that since GitLab CI is indeed one main usecase!

[2016-06-19 09:36] sils commented on #9
Ah I didn't read it completely, @stefanoco but then IIUC this issue has nothing to do with our image and would occur with any other image as well, right?

[2016-06-19 09:37] sils commented on #9
I'm compressing the docs a bit because I'm always afraid that most people will just not read docs if they're long.

[2016-06-19 09:44] stefanoco commented on #9
Yes that's correct it does not depend on this particular image but using gitlab CI with docker for static code check is rather typical so this issue should be mentioned IMO. Ok for compressing as you like of course

[2016-06-19 10:36] #9 closed, assigned to nobody

[2016-06-29 10:15] AbdealiLoKo opened #12 "Travis test"
It would be nice to make a travis file which uses the dockerfile to run tests.
Creating this because the PR https://github.com/coala-analyzer/docker-coala-base/pull/8 will close soon and it may get lost.

Something like:

[code]

[2016-06-29 10:26] sils commented on #12
like it @fneu should be easy to do huh?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 29 June 2016 at 12:15, AbdealiJK notifications@github.com wrote:

[2016-06-29 10:51] AbdealiLoKo commented on #12
@fneu commenting on https://github.com/coala-analyzer/docker-coala-base/pull/8#issuecomment-229321686 here...

IIRC (based on some testing I did earlier), Travis builds have an internet speed of 8GBps and about 30GB data storage available. It allows around 40-60 mins of processing time. But, the travis CPU is really fast (8 core I think)

Also, circleci can do it in the `coala-bears` repo. i.e. if

[2016-06-29 11:07] fneu commented on #12
Wow and I thought I have fast Internet :D Also my 1 hour clocks in on an
dualcore i5, We should be fine with those specs. I'll clean up my branch
and make a pull request today or tomorrow including Travis tests, promised.

Am 29. Juni 2016 12:51:27 nachm. schrieb AbdealiJK notifications@github.com:

[2016-06-30 15:04] fneu commented on #12
Big drama with my girlfriend yesterday + unexpected job interview today (smalish). Busy this evening and need to review stuff for GitMate tonight so I will finish this stuff tomorrow.

[2016-07-07 14:43] #3 closed, assigned to fneu

[2016-07-07 14:43] #1 closed, assigned to fneu

[2016-07-07 14:43] #2 closed, assigned to fneu

[2016-07-07 14:43] #12 closed, assigned to nobody

[2016-07-07 14:45] sils commented on #1
I thought this is _not_ solved?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 7 July 2016 at 16:43, Fabian Neuschmidt notifications@github.com wrote:

[2016-07-07 15:15] fneu commented on #1
Chktex is installed and up and running at least on cli. The bear might
still have an issue but it's not with chktex per se. I will add Issues soon
for all the Tests that still fail so we can collect specific Info.

[2016-07-07 15:17] sils commented on #1
ah fine :)

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 7 July 2016 at 17:15, Fabian Neuschmidt notifications@github.com wrote:

[2016-08-09 13:08] fneu opened #14 "find sustainable solution for infer"
we are using a binary version, but only the newest release is provided at the download location. Every new release breaks the link and our dockerfile.

[2016-09-03 15:41] jayvdb opened #15 "Quick start for using as a Travis job"
It would be useful to provide a recipe for users to copy and paste into their `.travis.yml` to use this docker as a linter job, and possibly also for other CI engines that support dockers.

It should use auto-discovery as much as possible, so that the sample recipe works irrespective of the contents of the repository, and only needs to be tuned if the code is buggy, or they want to reduce the runt

[2016-09-03 16:49] sils commented on #15
RIght we have it at http://coala.readthedocs.io/en/latest/Users/Docker_Image.html - mind making a PR to add it to the readme or should we do it?

[2016-09-03 19:28] jayvdb commented on #15
I'd like to add Travis *& Appveyor?) to that section of the docs, and can also do a PR here as you suggest.

[2016-09-03 19:29] sils commented on #15
:+1: awesome - thanks. https://github.com/coala-analyzer/documentation/

[2016-09-09 09:13] jayvdb commented on #15
I tried setting it up on Travis, and failed.

https://travis-ci.org/jayvdb/cws/builds/158663310

@abdealijk, can you see what I did wrong?

[2016-09-09 09:16] sils commented on #15
Can you give the related code? That job shows success for me but doesn't do anything with the image.

[2016-09-09 09:18] sils commented on #15
found it, https://github.com/jayvdb/cws/compare/9a6effa5c918...b58b85cbf833

[2016-09-09 09:20] sils commented on #15
Apparently the `-d` flag is making docker exit and run it as a daemon, removing that might help @jayvdb

[2016-09-09 09:22] sils commented on #15
Also your code isn't in the container :) you're not copying your files in.

[2016-09-09 09:23] sils commented on #15
CC @underyx

[2016-09-09 09:25] sils commented on #15
Try this: `docker run -v $(pwd):/app -w /app coala/base:0.8 coala-ci`

[2016-09-09 09:26] sils commented on #15
You shouldn't need to pull the image, just running it should pull it implicitly if needed.

[2016-09-09 09:33] jayvdb commented on #15
Thx. Will try it soon.

On Fri, 9 Sep 2016 16:26 Lasse Schuirmann, notifications@github.com wrote:

[2016-09-12 01:01] jayvdb opened #17 "master bears"
It would be useful to have a Docker image that contains the latest bears, to be able to easily check if a bug has been fixed.

Or, it would be useful to pre-install the latest `requirements.txt` , and then downgrade if necessary.
e.g.

[code]

Then it is quicker to upgrade the bears, e.g. using

[code]

[2016-09-12 06:19] sils commented on #17
We have a pre tag somewhere which should give you what you need

[2016-09-12 06:20] sils commented on #17
it's not automatically built though. Instead of installing from git you can just `pip install coala-bears -U --pre` as we automatically do prereleases from master.

[2016-09-12 06:20] sils opened #18 "Docker build is broken"
@fneu I can't build the doker imgae. this sucks, we just had a release.

[2016-09-12 06:21] sils commented on #18
`Build failed: The command '/bin/sh -c julia -e "Pkg.add(\"Lint\")"' returned a non-zero code: 1`

[2016-09-12 06:32] sils commented on #17
Seen also https://github.com/coala-analyzer/docker-coala-base/issues/18 which even affects the release build, seems as if something broke in julia or changed.

[2016-09-12 07:34] jayvdb commented on #17
Using `--pre` doesnt change this issue.  The problem is that the latest bears (master/pre-release) has lots of additional dependencies that are not installed into the Docker image.

[2016-09-12 07:45] sils commented on #17
I think @fneu is working on this.

[2016-09-12 08:03] fneu commented on #17
@jayvdb I've just not had the time lately to update the image. Due to dockers build time and memory requirements that process is not always straight forward. The python requirements are updated since I take the latest `requirements.txt`, but unfortunately I've not gotten the gemfile or npm requirements to work, so it needs manual labor for now.

After my exam on Thursday I might commit a day or tw

[2016-09-27 00:20] jayvdb commented on #17
As an example of what I am hoping for, I have a bug fix for https://bitbucket.org/birkenfeld/pygments-main/issues/1286 .  I want to test it.
So I run this docker on a project with lots of tabs, with my branch of pygments, but it fails due to no `hg`.

[code]

 I've submitted #19 to fix this.

If I need to test master of coala-bears (or a dev branch), there are extra dependencies that need to be in

[2016-09-27 16:01] #15 closed, assigned to jayvdb

[2016-09-27 16:06] fneu commented on #18
fixed

[2016-09-27 16:06] #18 closed, assigned to nobody

[2016-10-08 22:26] sils commented on #17
@fneu ping

[2016-10-08 22:55] sils opened #23 "turn of travis mail notifications please"
please please please @fneu

[2016-10-09 07:37] fneu commented on #23
How? is this part of the Travis configuration? Anyway I will make Travis Pass later today

[2016-10-09 08:45] sils commented on #23
Yes, there's an option you have to set in the yml to turn off mail notifs

[2016-10-12 19:41] #17 closed, assigned to nobody

[2016-10-12 19:42] #23 closed, assigned to nobody

[2016-10-12 19:44] fneu commented on #23
mails no more: 2daef25e410ec8273665834a8c9d2c1da3470885

[2016-10-31 16:57] underyx opened #24 "Document where the coala cache is inside the image"
After having had enough of all the dependency issues, I now run coala locally with

[code]

but this of course breaks the coala cache. I could mount the cache directory on my machine, but I don't know where it is inside the container :(

I think this should be in the readme. Maybe CI servers could also be configured to cache this directory?

[2016-11-10 06:14] jayvdb opened #25 "Add coala-quickstart"
coala-quickstart needs to be added after https://github.com/coala/coala-quickstart/issues/39 is ready, so that https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala does not need a "Create .coafile" section, which will trip up many newbies, and instead `coala-quickstart` can be used , and will lead to many improvements in the automatic mode, which is often going to de-activate bears fo

[2016-11-10 06:27] jayvdb opened #26 "Use cib to install bear dependencies"
https://gitlab.com/coala/cib says it installs dependencies.
Can we use it?

[2016-11-10 06:30] jayvdb opened #27 "Ruby gem list is not automatic"
There is a static list of gems in the Dockerfile:
[code]

[CSVLintBear](https://github.com/coala/coala-bears/blob/master/bears/csv/CSVLintBear.py) was added recently, but is not available yet in the Docker image.

The list of gems to install could be easily taken from:
https://github.com/coala/coala-bears/blob/master/Gemfile

This repo could even have coala-bears as a sub-module, use the actual `G

[2016-11-16 20:37] jayvdb opened #29 "Build is broken due to ContextualVersionConflict between coala-utils 0.5.0 and coala_utils~=0.4.9"
Tests are failing with

[code]

e.g. https://api.travis-ci.org/jobs/176453358/log.txt?deansi=true

This is due to the way coala loads the bears with setuptools entry points.

[2016-11-19 01:20] jayvdb commented on #29
This was caused by the installation of master bears added in https://github.com/coala/docker-coala-base/issues/17 .  This feels like a bug in recent pip, but as I noted in #17 a safer approach is to only download the bears rather than installing them.

[2016-11-19 12:57] jayvdb opened #32 "Use master for pre-release"
From https://github.com/coala/docker-coala-base/pull/30#issuecomment-261708802 , @sils wrote

[2016-11-19 21:10] #29 closed, assigned to nobody

[2016-11-19 21:21] jayvdb opened #33 "Install expect into the image"
`coala` has many questions. `expect` can answer them.

difficulty/newcomer

[2016-11-20 04:40] jayvdb commented on #33
e.g. something like `expect -c 'spawn coala --apply-patches --no-orig; expect Ctrl-D; send 0'`
(needs improvement, and should be documented also)

[2016-11-22 02:24] jayvdb opened #34 "Make cache NLTK data one command"
The NLTK data should be cached in the Docker.

See https://github.com/coala/coala/pull/3082 for roughly what is needed.

[2016-11-22 02:43] Mixih commented on #34
May or may not be present. Need more testing to verify...

[2016-11-22 12:54] jayvdb opened #35 "Julia tests failing"
On an obviously [unrelated commit](https://github.com/jayvdb/docker-coala-base/commit/3f1db2f0cf8) the [build](https://travis-ci.org/jayvdb/docker-coala-base/builds/177952132) fails

[code]

[2016-11-22 14:10] jayvdb commented on #35
master also fails if the `coala` and `coala-bears` repos are on their masters.  It is only the one Julia test failure.
But also worth noting that the bears are not being tested on this docker.

[2016-11-22 16:51] SanketDG commented on #27
can't we just do `gem install` in the coala-bears dir? It would take the Gemfile as default.

[2016-11-22 16:53] sils commented on #27
though be sure to not get the gemfile from master for the release branches of this image

[2016-11-22 17:04] fneu commented on #27
This should be possible for `gem` and `npm` packages, since we clone the correct repo anyways. Hence the fixme comments. I'm not sure why this didn't work out for me initially, but there were some dependency fuck-ups IIRC. I also don't think the symlinks should be necessary...

[2016-11-22 17:15] jayvdb commented on #27
Ya, that is roughly what I had in mind, but was thinking sub-modules.  The existing clone of coala-bears is effectively the same thing.

[2016-11-23 11:03] jayvdb commented on #32
@fneu, can this be sorted out as a matter of urgency.  We need to build a docker for 0.9, and add extra linters and binaries, and currently I dont know where to send PRs.

[2016-11-23 11:16] jayvdb commented on #32
The [GCI tasks](https://github.com/coala/coala/wiki/Google-Code-In) depend on this; they will be in high usage from 28 November onwards.

[2016-11-23 13:36] fneu commented on #32
Yes sure and this makes complete sense, as previously the latest release branch mirrored master.

[2016-11-25 05:49] jayvdb commented on #32
Who can **do** this??  We need a 0.9 docker image *now*, so we can test it before GCI.
At the moment we have two branches diverging, and I dont know which branch to send patches to.

[2016-11-25 22:50] jayvdb commented on #32
I believe this has now been fixed? And we PR to master?

[2016-11-25 23:50] sils commented on #32
Yes, PR to master. Also make a PR from master to release/0.9 when
appropriate

[2016-11-26 05:00] Mixih commented on #34
Might as well add it anyways as it can't hurt?

[2016-11-26 06:25] jayvdb commented on #34
Correct

[2016-11-26 11:38] jayvdb commented on #34
Ah, already done
[code]

Could speed that up by invoking as one command.

[2016-11-26 19:04] jayvdb commented on #35
Ah, ae7b5f622b6e explains it.

[2016-11-26 19:06] jayvdb commented on #18
ae7b5f622b6ec was the fix, and now the same problem exists in a different form: https://github.com/coala/docker-coala-base/issues/35

Also noting https://github.com/coala/coala-bears/issues/859 was a problem with Julia Lint around that same time.

[2016-11-27 02:55] #35 closed, assigned to nobody

[2016-11-27 07:52] jayvdb opened #39 "verilator tests fail"
When re-enabling the bear tests disabled in 05fdfb72, only the verilator tests fail.

The Dockerfile does install verilator

[code]

Same occurs for valid files.

`VerilogLintBearTest.test_valid_files`

[2016-11-27 11:20] jayvdb commented on #39
The executable `verilator` script looks like this:

[code]

[2016-11-27 15:11] jayvdb opened #40 "No provider of 'npm' found"
master has decided to start failing during installation.

[code]

[2016-11-27 16:02] Mixih commented on #40
What the heck? it was just working.....

[2016-11-27 16:03] jayvdb commented on #40
My guess is they are re-organising packages.

[2016-11-27 16:08] sils commented on #40
CC @fneu

[2016-11-27 16:08] Mixih opened #41 "Fix Rultor"
Rultor doesn't seem to be configured correctly, or doesn't work on this repo. Perhaps we should do something about it?

[2016-11-27 16:10] jayvdb commented on #40
Using nodejs6 causes ESLint and Alex to fail:

https://api.travis-ci.org/jobs/179217996/log.txt?deansi=true

Both support 6:
- https://github.com/wooorm/alex/blob/master/.travis.yml
- https://github.com/eslint/eslint/blob/master/.travis.yml

(And Verilog, but that is a separate bug)

[2016-11-27 19:18] jayvdb opened #43 "static analysis in openSUSE"
http://download.opensuse.org/repositories/devel:/tools:/statica/openSUSE_Tumbleweed/src/ has a bunch of static analysis packages.  It looks like none of them are in coala.

- cbmc
- cil
- frama-c
- ltl2ba
- minisat
- smatch
- sparse
- stp
- z3

[2016-11-28 02:32] jayvdb commented on #40
Sort of fixed in #44

[2016-11-28 10:02] jayvdb commented on #40
I've run CircleCI bear tests with nodejs 6.9 : [green](https://circleci.com/gh/jayvdb/coala-bears/178)

[2016-11-28 12:18] jayvdb commented on #40
Found the problem with ESLint and Alex

https://github.com/coala/coala-bears/issues/1070
https://github.com/coala/coala-bears/issues/1071

[2016-11-28 16:33] #40 closed, assigned to jayvdb

[2016-11-28 17:14] sils commented on #41
We can add an almost empty .rultor.yml to use automatic fast forwards in the future, they're in almost all non main repos

[2016-11-28 17:14] #27 closed, assigned to nobody

[2016-11-29 02:46] #41 closed, assigned to Mixih

[2016-11-29 04:17] Mixih commented on #33
@jayvdb I'm not quite sure why we need this. Aren't the coala configs and noninteractive mode sufficient?
edit: gotcha, those features are incomplete

[2016-11-29 04:58] #33 closed, assigned to nobody

[2016-11-29 05:12] jayvdb commented on #14
https://github.com/facebook/infer/releases/download/v0.9.0/infer-linux64-v0.9.0.tar.xz infer-linux64-v0.9.0.tar.xz

This is the URL in the Dockerfile. Is it not a stable URL?

[2016-11-29 05:14] jayvdb commented on #14
Latest release is https://github.com/facebook/infer/releases 0.9.4.1

[2016-11-29 06:35] fneu commented on #14
Well, apparently 0.9.0 is still there... I know they removed the 0.8.x link (which we had previously in the dockerfile) when 0.9 came out.

[2016-11-29 06:46] jayvdb commented on #14
Hmm. https://github.com/facebook/infer/releases still shows 0.8.x tarballs. Maybe they rebuilt them.
Anyway, it looks like they are doing stable releases now, so now we just need to re-enable infer.

[2016-11-29 06:49] jayvdb opened #49 "Shorten log so it fits into one Travis Web UI log"
We need to disable some of the verbosity, so that the log fits into the Web UI log limit.

Some of the more verbose building can be saved to a log file, and only emitted if the build wasnt successful.

[2016-12-04 03:14] yukiisbored opened #50 "Checkstyle binary is not part of docker image"
It seems the checkstyle.jar file is not part of this docker image because every time I use it with this docker image, It downloads the jar file.

[code]

To confirm the fact it's not part of this docker image, I ran bash inside the docker image and see if it's there.

[code]

[2016-12-05 03:02] Mixih commented on #25
This issue is ready for work

[2016-12-05 10:02] yukiisbored opened #52 "Add a friendly welcome script, If there's no command being specified"
It would be nice to have a script that tells the user what they can do with this image, I was thinking about some example of commands that you can run and use. This can be added by making a entrypoint script to the docker image. The entrypoint script will be executed if there's no command specified when running the container.

[2016-12-05 10:05] #25 closed, assigned to nobody

[2016-12-11 22:31] Mixih opened #54 "Add approved label"
CC @sils . Also we could use some of the other labels

[2016-12-11 22:33] #34 closed, assigned to namanyadav12

[2016-12-12 03:39] jayvdb commented on #54
See https://github.com/coala/coala/issues/3026

[2016-12-12 04:00] sils commented on #54
@Mixih you should be able to set the labels by yourself FWIW

[2016-12-12 04:08] sils commented on #54
added the label

[2016-12-12 04:08] #54 closed, assigned to nobody

[2016-12-13 21:28] Mixih commented on #54
Whoops, though you needed to be admin to do that :(. sorry I bothered you.

[2016-12-15 17:34] sils commented on #54
no issue

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 13 December 2016 at 22:28, mixih <notifications@github.com> wrote:

[2016-12-16 10:55] yukiisbored opened #55 "Docker image size is too large"
The coala/base docker image is pretty large for what it is. The size is `2.63 GB`, that's larger than `ubuntu` and `opensuse` combined.

There are two ways to solve this:
* Remove downloaded source code
* Use another distro (preferably Alpine Linux)

[2016-12-17 21:04] sils opened #59 "Reduce docker image layers"
might help for https://github.com/coala/docker-coala-base/issues/55

[2016-12-17 21:04] sils commented on #59
certainly makes pulling faster

[2016-12-19 05:17] yukiisbored commented on #59
It can be done by merging some `RUN` instructions into one but it doesn't help that much since there's a one big image layer. I think it's when the distro is installing the dependencies. Changing into a smaller distro can make a significant change in terms of speed and size especially with that huge chunk but that's quite a huge route.

[2016-12-19 05:19] yukiisbored opened #61 "Additional docker image version for the development version of coala"
It may help for some people who require the latest changes and features of coala. Currently the docker image only uses the "stable" version of coala which is `0.9.0`. Some people may require or just want to use/test the dev version of coala.

[2016-12-19 05:21] yukiisbored commented on #61
Whoops, it turns out there's `pre`. Sorry.

[2016-12-19 05:21] #61 closed, assigned to nobody

[2016-12-19 06:00] arush0311 commented on #59
What about an option of selecting only those bears which the user wants, according to my discussion with @sils we could make a web app which compiles a dockerimage of only those bears which the user wants. Also see these http://stackoverflow.com/questions/24482822/how-to-share-my-docker-image-without-using-the-docker-hub

[2016-12-19 06:03] arush0311 commented on #59
We could use base image as the coala image with all bears installed and then remove all the bears which are not needed, hence also reducing the time to compile the image

[2016-12-19 06:05] yukiisbored commented on #59
but that increases the amount of image layers. Images in Docker are basically layers of changes that compiles into one docker image. And that also requires a server with a good amount of performance and bandwidth since some people just throw it in CI.

[2016-12-19 06:11] arush0311 commented on #59
@yukiisbored is there a way to remove what was added in previous layers? If that is not the case we will have to start with the base image (alpine?) and then install bears on top of it.

[2016-12-19 06:15] arush0311 commented on #59
Perhaps we can calculate the shortest (installation) path between the previous images and the current image to be compiled and then use those steps.

[2016-12-19 06:24] yukiisbored commented on #59
@arush0311 as far as I know, nope. If it's possible, that'll increase the amount of layers anyway since it requires seperating installation commands

[2016-12-19 06:30] arush0311 commented on #59
@yukiisbored yes you are right :sweat: Perhaps will help with https://github.com/coala/docker-coala-base/issues/55 though.

[2016-12-19 07:38] jayvdb commented on #55
So, the size should have be been reduced by clearing the cache 8d9f9ff687015 .  It would have been good to have a separate PR for that, with builds before and after that commit so we could see the improvement.

Are there any other changes in the recent changes which might have helped reduce the size?

[2016-12-19 07:54] jayvdb opened #62 "Docker pre is not using coala&bears master"
The docker apparently does not contain @yukiisbored 's XML bear fixes, which is blocking his current GCI task.

https://github.com/coala/docker-coala-base/issues/17 has been broken?

It says it is 0.9

[2016-12-19 08:04] jayvdb opened #63 "Docker images are not being automatically updated"
The org name change from `coala-analyzer` to `coala` broke updated rebuilds.

We should have rebuilds after changes to this repository.

We should also have rebuilds after changes to coala-bears , and less important are changes to coala.
Triggering a rebuild daily should be sufficient.

This is critical for GCI, as people need to be able to add/fix bears and be able to use them.

[2016-12-19 09:56] #62 closed, assigned to jayvdb, sils, fneu

[2016-12-19 12:17] jayvdb commented on #55
https://cloud.docker.com/app/coala/repository/docker/coala/base/tags says `pre` (rebuilt after all this) is still 1Gb, which is what it reports for `0.8` and `0.9` which do not have all the recent attempts at optimising the image size.

[2016-12-19 16:54] yukiisbored commented on #55
Other than using a smaller distro, probably merge some `RUN` instructions may help increase the amount of layers but that would kill the ease of debugging / diagnostics.

[2016-12-21 07:25] yukiisbored commented on #55
Hello, can I be assigned to this issue?

[2016-12-21 08:08] jayvdb commented on #55
Note: We are still waiting for the GCI task to be published.

[2016-12-21 09:04] yukiisbored commented on #55
@jayvdb It's published: https://codein.withgoogle.com/dashboard/task-instances/6600150384377856/

[2016-12-21 13:33] jayvdb opened #65 "Remove dependencies of CSharpLintBear"
CSharpLintBear is unusable for serious projects.  The dependencies are large , causing other users of the Docker to have large downloads unnecessarily.

https://github.com/coala/coala-bears/issues/1185

[2016-12-23 04:21] #65 closed, assigned to nobody

[2016-12-23 12:43] jayvdb commented on #55
https://github.com/coala/docker-coala-base/pull/66 and https://github.com/coala/docker-coala-base/pull/67 removed a few hundred Mb from the image.
An image rebuild would be useful.

[2017-01-02 09:21] jayvdb commented on #55
[An analysis build](https://travis-ci.org/jayvdb/docker-coala-base/builds/185997048) of files > 5Mb

Before any commands are run (including before packages are added):
[code]
At the end:
[code]

Some of those files are not necessary.

[2017-01-02 09:38] jayvdb commented on #55
I've added [another task](https://codein.withgoogle.com/tasks/4971373451542528/) for this, which is simpler and can be used to find smaller size reductions, which are still useful.

An example of that task is [removing R-core-doc](https://github.com/jayvdb/docker-coala-base/commit/996e6bcfd6f78)

[2017-01-03 06:01] jayvdb commented on #39
I rebuild the RPM from source, and it has the [same result](https://travis-ci.org/jayvdb/docker-coala-base/builds/188433274).  Also, all tests pass in the RPM test phase. :/

[2017-01-03 19:53] #32 closed, assigned to fneu

[2017-01-03 20:14] jayvdb commented on #63
@sils, you are assigned because I  do not appear to be able to do this.

When I connect to GitHub using [Settings](https://cloud.docker.com/app/coala/settings/) shows GitHub "Account" is jayvdb .

Then on [automated builds](https://cloud.docker.com/app/coala/repository/docker/coala/base/builds/edit), "Source Repository" , "Select organisation" does not list coala for me -- it lists orgs where I am

[2017-01-03 20:21] sils commented on #63
Ah, I didn't see this. Does that mean you can't even trigger builds?

[2017-01-03 20:34] sils commented on #63
Oh I never used "docker cloud" figuring my way around right now, had it on hub.docker.com before.

[2017-01-03 20:44] jayvdb commented on #50
Easy fix is to install checkstyle, and symlink the jar into `/usr/local/share/coala-bears/CheckstyleBear/`.

There is a related issue https://github.com/coala/coala-bears/issues/626 for configurable locations, so that it is possible to avoid creating `/usr/local/share/coala-bears/CheckstyleBear/` with symlink just so the bear finds it.

Worth noting that [openSUSE checkstyle](https://software.open

[2017-01-03 20:51] sils commented on #63
![dockerbuildrules](https://cloud.githubusercontent.com/assets/5716520/21622627/c9b1a03a-d1fe-11e6-973f-58e8b72991a8.png)

This is the setup now.

[2017-01-03 21:04] jayvdb opened #71 "VHDL Bakalint is not installed"
The Dockerfile has disabled commands for installing VHDL Bakalint

https://github.com/coala/docker-coala-base/commit/f541d295e3 by @fneu didnt provide any reason for why it is broken.

It needs to be investigated and fixed, and [re-enabled](https://github.com/coala/docker-coala-base/commit/6e9f38b9e4).

[2017-01-03 21:06] sils commented on #59
@razvanch did some work in that direction which was merged, is this still needed? Looks ok to me.

[2017-01-03 21:07] sils commented on #59
Reopen if you disagree :)

[2017-01-03 21:11] fneu commented on #71
I have no idea why it broke, might have been a versioning issue or something? At the time we needed the image running asap and I didn't have time to investigate.

[2017-01-03 21:15] sils commented on #63
So this seems to work, I even get a docker cloud build state on my PR 👍  closing this for now, let's reopen if something's wrong or make a new issue.

[2017-01-03 21:15] #63 closed, assigned to sils, fneu

[2017-01-03 21:19] fneu commented on #63
looks good

[2017-01-03 21:20] jayvdb commented on #59
Still lots of unnecessary layers.

[2017-01-03 21:25] jayvdb commented on #63
I can now.  Looks good.

[2017-01-04 15:13] #71 closed, assigned to nobody

[2017-01-05 02:40] #24 closed, assigned to yukiisbored

[2017-01-05 02:52] jayvdb opened #76 "Add entrypoint for default coala-ci operation"
The Dockerfile should have an `ENTRYPOINT` that runs coala --ci in the typical fashion.

However it should check that there is something in `/app', and do nothing if there is nothing in `/app` then we can fall back to adding a friendly error message (which should be a separate enhancement as https://github.com/coala/docker-coala-base/issues/52)

The entrypoint should also check for `.coafile`, and

[2017-01-05 03:31] jayvdb commented on #52
A alternative proposal is #76, which adds an entrypoint which runs the typical `coala --ci` command.
However, there is also the need for falling back to a helpful error message if running coala would not be useful, so this task is still valid.

[2017-01-05 03:36] jayvdb opened #77 "Allow extra bears to be used by the image entrypoint"
After #76 , the default entrypoint should pick up extra bears provided by the CI image to the coala image via a mounted volume.

The solution for this issue must include a test, with a small dummy bear which runs on a file provided in `/app`, and verify that the extra bear ran correctly.

[2017-01-05 18:01] rhemon commented on #55
R-recommended-packages seems to be unnecessary.
https://github.com/rhemon/docker-coala-base/commit/ff853d71c0e36db87e5efb5be2a1fae214480bd6
https://travis-ci.org/rhemon/docker-coala-base/builds/189255334

[2017-01-05 18:48] yukiisbored commented on #55
@rhemon it still pulls `R-recommended-packages` because it's a dependency for one of the R packages

[2017-01-05 18:49] rhemon commented on #55
yeah sorry @jayvdb explained me about it

[2017-01-05 19:11] rhemon commented on #55
libasan3 seems to be unnecessary (although it only reduces size by 0.001 GB)
https://travis-ci.org/rhemon/docker-coala-base/builds/189275655
https://github.com/rhemon/docker-coala-base/commit/b75ae0376db9b242af4630b27a1177badfe7f35b

[2017-01-05 19:57] coala-bot opened #78 "Upload nightly docker image from travis"
We have a daily build on master for the docker image, we can do the same for pre and upload the prerelease to docker hub or maybe trigger a docker build on the docker cloud from there directly.

Opened via [gitter](https://gitter.im/coala/coala/?at=586ea540af6b364a29357417) by @sils

[2017-01-05 20:25] Makman2 commented on #78
Maybe we should do our CI also in a container?

[2017-01-06 18:12] rhemon commented on #55
Found these unnecessary packages and erased them in PR https://github.com/coala/docker-coala-base/pull/80 :
[code]

[2017-01-06 20:39] #76 closed, assigned to nobody

[2017-01-06 20:52] jayvdb commented on #77
GCI task: https://codein.withgoogle.com/dashboard/tasks/4811072622034944/

[2017-01-11 14:17] #77 closed, assigned to yukiisbored

[2017-01-11 15:21] yukiisbored opened #82 "Fix coala's cache when `--user` is defined"
Docker has this weird way of using `root` as the default user resulting in files which the user can't write to. The only way to fix this is to declare `--user=<UID>` but this'll cause a problem because there's no home folder so it defaults to `/`. The workaround for this is to pre-made `/.local/share/coala` and set the permission to `777` (RWX for everyone)

[2017-01-11 15:21] yukiisbored commented on #82
I wish Docker has a better solution for something like this, but AFAIK this is the only thing we can do.

[2017-01-13 02:42] jayvdb opened #83 "Remove python2"
Some of the python2 packages were removed in https://github.com/coala/docker-coala-base/issues/55#issuecomment-270966401 , but we still need python2 for flawfinder.

Once https://github.com/coala/coala-bears/issues/1268 is fixed, we can remove python2 from the image.

[2017-01-13 07:39] jayvdb opened #84 "master is broken: libopenblas_openmp not found"
See https://travis-ci.org/jayvdb/docker-coala-base/builds/191521582

[code]

[2017-01-13 08:23] jayvdb commented on #84
I believe the problem is coming from using `home:stecue/openSUSE_Tumbleweed` for `suiteparse-devel` .
This problem arises because we're not updating the package repositories.
Not including it from zypper doesn't break anything.  Instead, we drop 9 packages, and everything still builds ok.
[code]

And the image size drops from 2.455 GB to 2.452 GB.
Sending PR now.

[2017-01-13 10:03] #84 closed, assigned to nobody

[2017-01-13 13:16] giovanism commented on #55
Found that `postfix` was unnecessary and also thanks for @jayvdb for mentioning `R-core-doc`
The travis build: https://travis-ci.org/GnarledHarpy06/docker-coala-base/builds/191619054

[2017-01-14 12:39] jayvdb commented on #55
btw https://github.com/coala/docker-coala-base/issues/84#issuecomment-272386925 was another set of 9 unnecessary packages, trimming 3 MB from the image.

[2017-01-14 15:35] giovanism commented on #55
Remove more unnecessary packages here https://github.com/coala/docker-coala-base/pull/86
[code]

[2017-01-18 05:24] jayvdb commented on #59
@yukiisbored found a nice tool which allows building a custom docker image by selecting a subset of components. @yukiisbored can you create a new issue about that.

[2017-01-21 11:58] jayvdb opened #87 "ghc-mod missing"
Master is currently failing due to lack of coverage
`bears/haskell/GhcModBear.py                                               12      1      2      0    93%   28`
https://travis-ci.org/jayvdb/docker-coala-base/builds/193966892#L9355

Adding ghc-mod creates some test failures.
https://travis-ci.org/jayvdb/docker-coala-base/builds/193989207#L9475

[2017-01-21 22:01] jayvdb opened #88 "Investigate DockerMake"
https://github.com/avirshup/DockerMake

[2017-01-21 23:32] jayvdb commented on #87
cc @vijeth-aradhya

[2017-01-23 14:26] vijeth-aradhya commented on #87
Which version of `ghc-mod` is added?

[2017-01-23 22:49] jayvdb opened #89 "DockerfileLintBear failing"
https://travis-ci.org/jayvdb/docker-coala-base/builds/194626912#L9476

dockerfile_lint@0.2.5 is installed.

This was released 7 hours ago: https://www.npmjs.com/package/dockerfile_lint

GitHub releases are not up to date: https://github.com/projectatomic/dockerfile_lint/releases

[2017-01-23 23:44] jayvdb commented on #89
I've finished a build of coala-bears, and the same test passes there: https://travis-ci.org/jayvdb/coala-bears/builds/194642548
Curious!

[2017-01-29 07:14] jayvdb commented on #87
@vijeth-aradhya , the version be checked in the logs linked in the issue description.
Or you can try installing another version.
Which version do you recommend? Is there a minimum version? See https://github.com/coala/coala-bears/issues/1357

[2017-01-30 03:08] jayvdb commented on #89
0.2.6 released on https://github.com/projectatomic/dockerfile_lint/releases and https://www.npmjs.com/package/dockerfile_lint

Should be fixed; needs retesting.
If it works, we need to update requirements to avoid the 0.2.5 version.

[2017-01-31 09:13] jayvdb commented on #89
0.2.6 resolved the issue, and is installed by default.
Preventing installation of 0.2.5 is now moved to https://github.com/coala/coala-bears/issues/1371 .

[2017-01-31 09:13] #89 closed, assigned to nobody

[2017-01-31 10:21] vijeth-aradhya commented on #87
The `ghc-mod` seems to be correct [5.6.0] as specified in `CabalRequirement`
And, it's using zypper to install it (in the build)?
Also, what's the `ghc` version? It's good if it's ( >= 7.10. ) Do you remember what it was in Circle and Travis? :thinking:

[2017-02-01 03:14] coala-bot opened #92 "Update urls from coala-analyzer to coala"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5891529d2ff29dec06605e03) by @jayvdb

[2017-02-02 17:57] etotientz commented on #92
Plz help.In which file is the url?

[2017-02-18 00:39] jayvdb commented on #87
I've done two builds of using `cabal install` with the new `coala-bears.cabal`, and both have exceeded the Travis time limit.
https://travis-ci.org/jayvdb/docker-coala-base/builds/202608933
https://travis-ci.org/jayvdb/docker-coala-base/builds/202451271

Somehow we need to speed this up.

[2017-02-18 00:41] jayvdb opened #96 "pytest coverage of coala raises AttributeError"
See https://bitbucket.org/ned/coveragepy/issues/565/canonical_filename-raises-attributeerror

[2017-02-18 00:48] jayvdb opened #97 "Add docker build step timestamps"
In order to help reduce our build times, I think it would be useful to record how long each part of the `docker build` takes.

I've got a branch for this.
https://github.com/jayvdb/docker-coala-base/tree/add-times

https://travis-ci.org/jayvdb/docker-coala-base/builds/202610390

To help, I think we need these merged first:

- https://github.com/coala/docker-coala-base/pull/94
- https://github.com/

[2017-02-18 12:11] jayvdb opened #98 "Intermittent RSTcheckBear 35s timeout"
See https://travis-ci.org/jayvdb/docker-coala-base/builds/202889527 and https://travis-ci.org/jayvdb/docker-coala-base/builds/202614783

[code]

[2017-02-19 04:23] jayvdb commented on #97
So, zypper and R take approx 10mins each.

[2017-02-19 04:59] coala-bot opened #100 "Remove bakalint tarball after installation"
The tarball should only exist during the one RUN command, and deleted before the end of the RUN command, so that it isnt permanently in the docker image.  Removing it should decrease the image size slightly, but as it is very small it may not be noticable.  See https://github.com/coala/docker-coala-base/issues/55
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58a9261b21

[2017-02-19 07:46] jayvdb commented on #87
I've done a build with `cabal install`, without `R` which should save about 10 mins, and it stills exceeds the Travis time limit.
https://travis-ci.org/jayvdb/docker-coala-base/builds/203087069
And it is a 4Gb image.

[2017-02-19 08:29] jayvdb commented on #97
And another to prep the ground: https://github.com/coala/docker-coala-base/pull/101

[2017-02-19 09:24] jayvdb commented on #55
Current status: 2.514 GB

[2017-02-19 23:42] jayvdb commented on #98
Another three https://travis-ci.org/coala/docker-coala-base/builds/203114537 and https://travis-ci.org/coala/docker-coala-base/builds/203271536 and https://travis-ci.org/jayvdb/docker-coala-base/builds/203271534

[2017-02-20 04:43] jayvdb commented on #55
Current status: 2.386 GB

[2017-02-20 21:34] Makman2 opened #109 "Security: Add GPG keys of used repos"
... to prevent installation from corrupted sources.

[2017-02-20 21:36] Makman2 commented on #109
As `zypper` installs packages with `--no-gpg-checks

[2017-02-21 07:58] #97 closed, assigned to jayvdb

[2017-02-22 08:05] gaocegege commented on #55
https://github.com/rancher/dapper is a tool to wrap any existing build tool in an consistent environment. It could reduce the size of images significantly but I'm not sure if it's suitable for coala.

I will have a try.

[2017-02-22 18:03] jayvdb commented on #55
Current: 2.306 GB

[2017-02-23 04:12] jayvdb opened #117 "Intermittent build halt while installing Ruby gem pg_query"
As of ~30 mins ago, the build has been halting:

[code]

https://travis-ci.org/coala/docker-coala-base/builds/204459620

Normally the sequence is
[code]
https://travis-ci.org/coala/docker-coala-base/builds/204445265

@gaocegege

[2017-02-23 04:13] jayvdb commented on #117
Note, the problem may be "pg_query" or "scss_lint" or even something else.

[2017-02-23 04:39] gaocegege commented on #117
I can't reproduce the problem by restarting the same build. the problem may be caused by TravisCI. :thinking:

https://travis-ci.org/gaocegege/docker-coala-base/builds/204459615

[2017-02-23 06:06] jayvdb commented on #117
https://github.com/coala/docker-coala-base/pull/115 was merged, after a few successful builds, so this problem is intermittent , or transient.

[2017-02-23 11:04] jayvdb commented on #55
Now 2.206 GB

[2017-02-23 13:34] jayvdb commented on #100
Closed by https://github.com/coala/docker-coala-base/pull/115

[2017-02-23 13:34] #100 closed, assigned to gaocegege

[2017-02-23 15:37] jayvdb commented on #96
The bug is https://github.com/pytest-dev/pytest-cov/issues/151

[2017-02-23 19:54] jayvdb commented on #96
And while this has been broken, https://github.com/coala/coala/pull/3781 has occurred.

[2017-02-23 23:03] jayvdb commented on #96
And just now, https://github.com/coala/coala-bears/issues/1444 occurred

[2017-02-24 05:15] jayvdb opened #120 "split2 0.2.1 npm package contains .*.un~ editor files"
The list of files installed by npm is:

* node_modules/split2
* __node_modules/split2/.index.js.un~__
* node_modules/split2/index.js
* node_modules/split2/test.js
* node_modules/split2/.travis.yml
* __node_modules/split2/.README.md.un~__
* __node_modules/split2/.test.js.un~__
* node_modules/split2/README.md
* __node_modules/split2/.package.json.un~__
* node_modules/split2/.npmignore
* node_modules

[2017-02-24 05:22] jayvdb commented on #120
Raised upstream at https://github.com/maxogden/ndjson/issues/18

[2017-02-24 05:51] jayvdb commented on #96
Note the cause was coala/coala@8e438b36bb (https://github.com/coala/coala/pull/3723)

[2017-02-24 07:27] #96 closed, assigned to nobody

[2017-02-24 21:42] jayvdb commented on #98
And now a CheckstyleBear timeout
https://travis-ci.org/coala/docker-coala-base/builds/205108801

[2017-02-26 10:50] jayvdb commented on #59
At  https://github.com/coala/docker-coala-base/pull/119#issuecomment-282401596, @fneu  suggested using one script for everything to reduce the layers.

With https://github.com/jayvdb/docker-coala-base/commit/3166a301b, I merged all the commands into a single `RUN` command, and [the result](https://travis-ci.org/jayvdb/docker-coala-base/builds/205461932) is a 1Mb increase over [master](https://trav

[2017-02-26 10:54] fneu commented on #59
Unfortunate, but thanks for trying

[2017-02-26 18:56] jayvdb opened #124 "flatted node_modules"
When installed with npm, node_modules iis:
[code]

With `yarn install --flat`, which requires manual resolving of conflicts, many extra dups are removed
[code]

[2017-02-26 19:11] jayvdb commented on #124
My [build](https://travis-ci.org/jayvdb/docker-coala-base/builds/205568479)  using `yarn` was larger than using `npm`, though that may be due to using a different repo.

[2017-02-26 21:11] jayvdb commented on #98
The CheckstyleBear timeout failures (more frequently occurring right now) are likely due to https://github.com/coala/coala-bears/issues/1084

[2017-02-27 11:27] underyx opened #125 "Release coala 0.10 image"
It's been three weeks since the coala release 👯

@chauffer tried bumping the version but MarkdownBear seemed to have some issues (which aren't happening with 0.9), it was trying to remove all content from markdown files. If I recall correct that happens when the wrong `remark` (`remark` instead of `remark-cli`) is installed. Can we investigate that?

[2017-02-27 11:29] underyx commented on #125
This could be related, too https://github.com/coala/coala-bears/issues/1444

What do you think @jayvdb?

[2017-02-27 12:02] underyx commented on #125
cc @sils as well

[2017-03-04 13:14] kaustubhhiware commented on #92
Since this issue is still open, can I work on it ?

[2017-03-06 05:07] jayvdb opened #128 "Python 2 dependencies removed"
The Dockerfile installs python, which previously dragged in unnecessary python-setuptools and python-six.  The Dockerfile then deletes those two packages to conserve space.

These two packages are no longer automatically installed, so the Dockerfile no longer needs to forcefully remove them.  See https://travis-ci.org/coala/docker-coala-base/builds/207976941 for the problem.

[2017-03-06 07:10] #128 closed, assigned to nobody

[2017-03-07 10:02] fneu commented on #125
@jayvdb is there anything stopping this? Otherwise I'd try to make a release later today

[2017-03-07 10:02] #92 closed, assigned to kaustubhhiware

[2017-03-07 11:31] sils commented on #125
@fneu :point_up: [March 7, 2017 9:09 AM](https://gitter.im/coala/coala/maintainers?at=58be6ab5de5049082256b051)

[2017-03-07 16:42] jayvdb commented on #125
The outstanding problem is 0.10 has checkstyle problems, with fixes merged but not yet released.
One possible solution is https://github.com/coala/docker-coala-base/issues/50 , which ensures the images has it so no extra fetch is needed/cant break.

[2017-03-07 16:55] fneu commented on #125
so adding the `checkstyle.jar` to `/usr/local/share/coala-bears/CheckstyleBear/` would be enough for now to release 0.10?

@jayvdb is that and the release branch something you could take care of?

[2017-03-07 17:14] jayvdb commented on #125
Yup, correct.

Not easy for me to do atm. On tablet only trying to fix laptop atm.
After that, if someone can push a branch 'release/0.10', it will voodoo be 0.10 because of https://github.com/coala/docker-coala-base/pull/123 .

[2017-03-07 17:46] fneu commented on #125
@jayvdb like this? https://github.com/coala/docker-coala-base/pull/131

[2017-03-08 02:16] jayvdb opened #132 "Install ScalaLint jar"
Same as https://github.com/coala/docker-coala-base/issues/50 (https://github.com/coala/docker-coala-base/pull/131) , but for ScalaLintBear.

[2017-03-08 04:06] jayvdb commented on #50
We still have a problem with 0.10, as it uses a different filename for the cached file.
ttps://travis-ci.org/coala/docker-coala-base/builds/208787231

[2017-03-08 15:12] underyx commented on #125
The problem I mentioned in the description is not fixed in the `0.10` image. MarkdownBear is still just deleting everything.

[2017-03-08 16:50] fneu commented on #125
@underyx that sounds horrifying indeed. While there is a `0.10` docker tag atm, `latest` still points at `0.9` for now.

The thing is, inside the dockerfile we call `npm install` using the `package.json` provided by coala which includes `remark-cli` as well as `remark-lint`. These seem to get installed as to the output [here](https://s3.amazonaws.com/archive.travis-ci.org/jobs/208711380/log.txt).

[2017-03-08 17:08] fneu commented on #125
seems to be a coala/MarkdownBear related issue independent of docker

[2017-03-14 09:48] underyx commented on #125
From [coala-bears 0.10.1 changelog](https://github.com/coala/coala-bears/releases/tag/0.10.1):

current behavior and breaks tests

From inside the `coala/base:0.10` image:

[code]

So, I'm pretty sure as noted on gitter it's still just a question of uploading the image with the correct coala-bears version. Could someone do that?

[2017-03-14 09:49] underyx commented on #125
(@jayvdb seems like the obvious user to tag here)

[2017-03-14 11:43] jayvdb commented on #125
@underyx , the problem with MarkdownBear has been occurring since December. See https://github.com/coala/coala-bears/issues/1235

That commit message was a bit confusing, unless you look at the diff.
[remark-lint](https://www.npmjs.com/package/remark-lint) is now 7, so it needed to be pinned to 6.
[remark-cli](https://www.npmjs.com/package/remark-cli) is now 3, so it needed to be pinned to 2.

`la

[2017-03-14 19:11] jjweis opened #135 "CSharpBear needs mcs"
I tried running CSharpLintBear through the container, got this error:

I added a zypper line downloading **mono-devel** (per [here](http://www.mono-project.com/docs/getting-started/install/linux/#opensuse-and-sles) ) in my Dockerfile and it worked.

[2017-03-22 20:57] #132 closed, assigned to giritheja

[2017-03-23 01:03] jayvdb commented on #135
mono was intentionally removed in https://github.com/coala/docker-coala-base/issues/65 because that bear doesnt appear to be very useful, and the dependencies are huge.
See https://github.com/coala/coala-bears/issues/1185

If you are using the bear, please let us know which project is using it.

[2017-03-23 01:05] jayvdb commented on #55
After a few fixes and additions, the [current size](https://travis-ci.org/coala/docker-coala-base/builds/214004769) has only increased slightly to 2.208 GB

[2017-03-23 02:58] jayvdb commented on #55
As an experiment, I tried to make the installation of `lua-devel` and `luarocks` temporary.
The result is the image *increases* by 33Mb from 2.208 GB to 2.241 GB.  See [commit](https://github.com/jayvdb/docker-coala-base/commit/b71ebf4ae1f) and [build](https://travis-ci.org/jayvdb/docker-coala-base/builds/214009708).  This is counter intuitive, and suggests there are extra steps needed to complete

[2017-03-23 13:38] jjweis commented on #135
Not a problem, I didn't see Issue #65 before. I can just use a fork with mono as part of a personal project.

[2017-03-23 13:38] #135 closed, assigned to nobody

[2017-03-23 20:35] jayvdb opened #139 "Keep Dockerfile tidy"
Due to aggressive deletion of unnecessary files, there are many explicit paths listed in the Dockerfile for deletion .  They may not exist as the packages installed dynamically change.

At the moment, `/usr/lib64/R/library/*/man/*` no longer has any files, and should be removed.

To avoid scaring off newcomers, these shouldnt be build breakages, requiring immediate attention, but should be easy to

[2017-03-23 22:57] jayvdb commented on #124
Another [build](https://travis-ci.org/jayvdb/docker-coala-base/builds/214200583), and an increase of 4Mb with default `yarn install`.
Using `yarn install --flat` requires finding a set of dependencies which work, and that is not easy to do. (c.f. https://github.com/coala/coala-bears/issues/1485)

[2017-03-24 03:13] jayvdb opened #142 "zypper julia dependency breakage"
[code]
https://travis-ci.org/jayvdb/docker-coala-base/builds/214506683

My limited understanding is that libgit2 is now at `-25` in the repos, and `-24` disappeared.  But some packages like julia havent been rebuilt, so their dependency is still `-24`.

Doing a zypper refresh or zypper dist-upgrade doesnt fix the problem.
https://travis-ci.org/jayvdb/docker-coala-base/builds/214523555

[2017-03-24 03:18] jayvdb commented on #142
Trying to force installation of `libgit2-24` or `libgit2` both fail.

[2017-03-24 08:47] jayvdb commented on #142
Raised upstream https://bugzilla.opensuse.org/show_bug.cgi?id=1030824

[2017-03-24 11:52] jayvdb opened #144 "Switch to openSUSE Leap"
Leap is more stable than Tumbleweed.
Current problem with Tumbleweed is https://github.com/coala/docker-coala-base/issues/142 .

[2017-03-24 11:54] jayvdb commented on #144
One problem encountered with 42.2 and 42.1 is [gotype fails](https://bugzilla.opensuse.org/show_bug.cgi?id=964546).  Notified upstream.  Possibly waiting on https://github.com/openSUSE/brp-check-suse/pull/7 .

[2017-03-24 22:46] jayvdb commented on #144
There is also a problem with Julia https://bugzilla.opensuse.org/show_bug.cgi?id=1030975

[2017-03-25 03:33] #142 closed, assigned to nobody

[2017-03-25 06:13] jayvdb commented on #55
`master` is down to 2.195 GB

[2017-03-25 06:14] jayvdb commented on #142
Note we had [one CRON job](https://travis-ci.org/coala/docker-coala-base/builds/214782708) that failed due to this.

[2017-03-25 09:49] jayvdb commented on #139
I think we need a script which is shared between Travis and the docker , which has various sub-commands that can do various checks and cleanups.

[2017-03-25 11:23] jayvdb commented on #55
This post is a WIP cataloging some a bunch of my tiny un-PR'd stuff

- [dart-no-doc](https://github.com/jayvdb/docker-coala-base/tree/dart-no-doc) - 1 Mb reduction

On the other hand

-use-phpsniffer-package - adds 5mb

[2017-03-25 12:12] jayvdb commented on #50
https://travis-ci.org/coala/docker-coala-base/builds/214948593

[2017-03-26 02:11] ronisbr commented on #144
No, julia is working fine in Leap 42.2 and 42.1. I just tested in 4 different machines.

I did not analyze it deeply, but it seems that you are using in this Dockerfile the Tumbleweed science repository with Leap. This is not supported and will not work.

Due to some SLE libraries, it was not possible to update julia to v0.5 in Leap 42.2, and it will not be possible to update it either in 42.3. He

[2017-03-26 03:29] ronisbr commented on #144
I think I found the issue. Inside the container, zypper is not installing a needed dependency of julia (maybe it is some problem with rpm not figuring out the dependencies by itself). I will look for this later (maybe I need to manually add those libraries as runtime dependencies).

In the mean time, just install the following packages:

libcholmod-3_0_6
libmpfr4
suitesparse-devel

Then, you shoul

[2017-03-30 05:42] jayvdb commented on #55
After removing some X libs, down to 2.188 Gb

[2017-03-30 07:46] jayvdb opened #153 "Implicit dependency on lksctp-tools removed"
Similar to https://github.com/coala/docker-coala-base/issues/128 , `lksctp-tools` is no longer automatically installed, so we dont need to remove it, and trying to remove it results in [the current error](https://travis-ci.org/jayvdb/docker-coala-base/builds/216631485).

[2017-04-16 08:37] jayvdb commented on #153
The package was re-added, so forced removal is again required, and thus this was not needed.

[2017-04-16 08:41] jayvdb opened #155 "Implicit dependency on 15 X libraries removed"
Similar to #128 and #153 , several X packages are no longer automatically installed, so we dont need to remove them, and trying to remove it results in the [current error](https://travis-ci.org/coala/docker-coala-base/builds/221487564) which has occurred for four days.

[2017-04-16 09:30] jayvdb opened #156 "python3-devel is no longer automatically installed"
Lots of changes happening in openSUSE Tumbleweed to reduce the image size, including removing the automatic dependency on `python3-devel`.

However unlike https://github.com/coala/docker-coala-base/issues/155 , `python3-devel` is needed, as `editdistance` [fails to compile](https://travis-ci.org/jayvdb/docker-coala-base/builds/222515916#L1953) without `pyconfig.h`.

[2017-04-16 09:32] jayvdb opened #157 "Incorrect appdirs data dir"
For a while our logs have contained:
[code]

But since ERRORs are now a non-zero exit code , the build is now failing on this error.  yay, but needs to be fixed.

That directory is missing `/root` at the beginning, so it looks like `HOME` and `XDG_DATA_HOME` are not set.

[2017-04-16 10:36] jayvdb commented on #157
This has been occurring since these commands were added in https://github.com/coala/docker-coala-base/pull/81 , and is likely a dup of https://github.com/coala/docker-coala-base/issues/82

[2017-04-16 11:06] jayvdb commented on #157
Well, #82 is for the proper fix.

A workaround to this problem is to not use `docker run --user:..` , but then the problem is any generated files (such as `.coafile` from `coala-quickstart`) put onto shared volumes are owned by `root`, which complicates access outside of the container.  In Travis, this can be solved using `sudo`, but that is only a workaround.

[2017-04-16 11:41] jayvdb commented on #55
Due to voodoo behind the scenes in openSUSE, the image size is down to 2.143 GB (after https://github.com/coala/docker-coala-base/pull/158 which doesnt affect size)

[2017-04-16 13:08] jayvdb commented on #153
The package was re-added, so forced removal is again required, and thus this was not needed.

[2017-04-16 13:08] #153 closed, assigned to nobody

[2017-04-16 14:55] #155 closed, assigned to nobody

[2017-04-16 14:55] #156 closed, assigned to nobody

[2017-04-16 14:55] #157 closed, assigned to nobody

[2017-04-19 06:48] jayvdb opened #160 "hg clone http://www.selenic.com/repo/hello timeout"
c.f. https://travis-ci.org/coala/docker-coala-base/builds/223419446#L8591

[2017-04-19 08:14] #160 closed, assigned to nobody

[2017-04-20 06:47] jayvdb commented on #125
This is blocked by https://github.com/coala/coala-bears/pull/1625

[2017-04-20 06:50] jayvdb commented on #125
And there could also be a problem with cabal , for which there isnt an easy backport as `coala-bears.cabal` was created after the 0.10 release.

[2017-04-20 17:46] jayvdb opened #161 "rubygem-bundler repository has been deleted"
http://download.opensuse.org/repositories/home:AtastaChloeD:ChiliProject/openSUSE_Factory/ has been deleted.

[2017-04-20 17:46] jayvdb commented on #161
self-assigning due to importance, but .. very happy to have someone else provide a PR before me.

[2017-04-20 18:32] jayvdb commented on #161
Seen first at https://travis-ci.org/jayvdb/docker-coala-base/builds/224050400#L171

[2017-04-20 20:02] #161 closed, assigned to jayvdb

[2017-04-20 20:16] jayvdb commented on #125
Problems all fixed.

Green build using this docker master with the bears branch `release/0.10` : https://travis-ci.org/jayvdb/docker-coala-base/builds/224080527

So, I've fast forward merged master into the branch `release/0.10`, and then will trigger a docker build.

The 0.10 image will already be smaller than prior images, but we can also revert https://github.com/coala/docker-coala-base/pull/13

[2017-04-21 07:05] jayvdb commented on #125
Any objections to moving 'latest' to '0.10'?

[2017-04-22 12:48] jayvdb opened #165 "Three upstream openSUSE packages no longer installed by default"
[code]
https://travis-ci.org/coala/docker-coala-base/builds/224666628#L1487

[2017-04-28 09:05] jayvdb opened #167 "Add dependency `phpmd`"
This is needed for PHPMessDetectorBear, and currently prevents 0.11 rc from building due to tests failing.

[2017-04-28 11:06] jayvdb commented on #125
I have updated 'latest' to 0.10, and it is building now. 1 hr until build completion to raise an objection.

[2017-04-28 11:48] jayvdb commented on #125
latest is now 0.10

[2017-04-28 11:51] #125 closed, assigned to nobody

[2017-04-28 12:09] jayvdb commented on #167
I've had failures with openSUSE phpmd and composer phpmd.

[2017-04-28 19:47] #165 closed, assigned to nobody

[2017-04-28 19:47] #167 closed, assigned to nobody

[2017-05-02 11:29] sils opened #171 "0.10 container serves coala version 0.12 development"
[code]

[2017-05-02 13:38] jayvdb commented on #171
The problem is clicking trigger build on Docker Hub doesnt set [the arg `build`](https://github.com/coala/docker-coala-base/blob/master/Dockerfile#L4), and .. it cant according to https://github.com/docker/hub-feedback/issues/508 .  So those manually triggered builds use `branch=master`.

However, it seems like it is possible to set arg using hook for Docker Cloud.
I've set up a test case branch [

[2017-05-03 02:53] jayvdb commented on #171
I've tested the 'trigger' button on Docker Cloud, and it also results in a build with `branch=master`, even when a "Build Environment Variables" is added for `branch={sourceref}`.

OTOH, a build hook works on Docker Hub, and presumably also works on Docker Cloud.

[2017-05-03 03:01] jayvdb commented on #171
My 'evidence' that the build hook works is https://hub.docker.com/r/coala/base/builds/bgsuyaqjzxsmpblmnvjr8bz/ , where it is a manually triggered build that tries to checkout coala branch `hook-test`.
[code]

[2017-05-03 10:01] #171 closed, assigned to jayvdb

[2017-05-03 12:34] jayvdb commented on #171
This problem affected 0.10 and 0.11rc, and the fix has been backported to both, and images rebuilt for both.

[2017-05-04 09:25] rubdos commented on #82
One can always use `-e HOME=a_path -v /a/path/on/the/host:a_path` to overcome this. For example, a Jenkins pipeline (which **always** runs with `-u jenkins:jenkins`) with a workaround:

[code]

Of course, this is just a dirty workaround, but you can overcome it like this.

[2017-05-12 16:54] ghost commented on #14
Infer has its own Docker file so might be able to compose the two.

[2017-05-20 08:30] yukiisbored opened #177 "Implement Disposable mode: Clone repository and run coala on it!"
I think it would be nice to implement something called "Disposable mode", which simply do this:
* Clone the repository
* If there's no `.coafile`, run `coala-quickstart` and output the results.
* Run `coala --ci` or may be in json-mode if desired.

This is really helpful for something like Try coala and Gitmate.

[2017-05-20 09:34] yukiisbored commented on #88
I think we can use it to easily handle different types of Docker images, like for Python development, Ruby development, Java development, etc and have an all-in-one where all of the others are mixed.

[2017-05-20 23:20] Makman2 commented on #177
Maybe we should instead encourage people to use scripts? I fear a bit that we open a huge door if we start to do things together with the VCS^^

[2017-05-21 13:06] yukiisbored commented on #177
@Makman2 Sorry, What do you mean? I don't understand what you meant by "scripts".

[2017-05-22 12:37] Makman2 commented on #177
Shell scripts*
Sorry :3

[2017-05-22 23:12] jayvdb commented on #26
cib isnt ready yet, I believe.

[2017-05-22 23:16] jayvdb commented on #50
The Checkstyle and Scalastyle fetches in Dockerfile should be replaced with calling https://github.com/coala/coala-bears/blob/master/.ci/deps.coala-bears.sh

[2017-05-25 13:01] jayvdb commented on #14
Note we've just encountered a problem with infer 0.7.0 on Ubuntu. https://github.com/coala/coala-bears/issues/1763

It would be wonderful if you were interested in working on a solution for that, or even creating a separate issue explaining how that could work with coala.  That would also be helpful in solving ghc-mod https://github.com/coala/docker-coala-base/issues/87

[2017-05-25 23:24] jayvdb opened #178 "Tumbleweed breakage: libopenssl1"
[code]
https://travis-ci.org/coala/docker-coala-base/builds/234965756

If the python2 dependencies are removed, the same occurs for python3

[code]
https://travis-ci.org/jayvdb/docker-coala-base/builds/236192952

When python3 is removed, php7 has the same problem:

[code]
https://travis-ci.org/jayvdb/docker-coala-base/builds/236195585

[2017-05-25 23:26] jayvdb commented on #178
Created https://bugzilla.opensuse.org/show_bug.cgi?id=1040862 and https://bugzilla.opensuse.org/show_bug.cgi?id=1040863

[2017-05-26 09:09] jayvdb opened #179 "Usage of pipe masks exit codes"
For the install of tailor, on openSUSE leap(https://github.com/coala/docker-coala-base/issues/144), an error can occur and the exit code is lost, and the build is not halted.  It fails later due to the 100% coverage requirement, but that makes it harder to see the error.

[code]

https://travis-ci.org/jayvdb/docker-coala-base/builds/236305678

[2017-05-26 09:45] jayvdb commented on #179
Using -k --tlsv1 doesnt help.

[2017-05-31 17:32] yash-nisar opened #180 "Add dependency `stylint`"

[2017-06-08 08:09] yash-nisar commented on #178
Getting package not installed errors :
[code]
See https://travis-ci.org/yash-nisar/docker-coala-base/builds/240685648

[2017-06-08 08:29] jayvdb commented on #178
ok, wow, yes, it looks like this bug has been fixed upstream and you have a different problem (and it is a common problem that we have to fix on our side fairly regularly .. please create a new issue and work on it).

This is strange because https://bugzilla.opensuse.org/show_bug.cgi?id=1040863 is still open, and the mentioned https://build.opensuse.org/request/show/498922 is still open, and https

[2017-06-08 08:32] yash-nisar commented on #178
Which implies we close this issue ? @jayvdb

[2017-06-08 08:38] jayvdb commented on #178
I need to notify upstream first, after I verify the problem is voodoo fixed (and possibly try to find what changed to fix it.).

[2017-06-08 08:49] yash-nisar commented on #178
Another build failure -> https://travis-ci.org/yash-nisar/docker-coala-base/builds/240701021

[2017-06-08 08:51] jayvdb commented on #178
Please do not report other unrelated problems here (try to understand them first, so you can create good bugs about them).

[2017-06-08 08:54] yash-nisar commented on #178
Alright, doing them after creating a new issue, I've tried a possible patch. Lets see if the voodoo works !

[2017-06-08 09:31] yash-nisar opened #181 "Implicit dependency on some packages removed"
Removal of `libasan3`, `libxslt-tools`, `python-javapackages`, `python-pyxb`, results in this [error](https://travis-ci.org/yash-nisar/docker-coala-base/builds/240685648).

[2017-06-08 09:36] jayvdb commented on #178
Closed upstream.

[2017-06-08 09:36] #178 closed, assigned to nobody

[2017-06-08 09:37] yash-nisar commented on #181
After the prevention of removal of the above packages, we get another [error](https://travis-ci.org/yash-nisar/docker-coala-base/builds/240701021), which is prevented by installing `libxml2-devel` and `libxslt-devel`.

See https://stackoverflow.com/questions/33785755/getting-could-not-find-function-xmlcheckversion-in-library-libxml2-is-libxml2

[2017-06-08 09:42] yash-nisar commented on #181
After adding `libxml2-devel` and `libxslt-devel`, the build is still red with a `npm ERR! Cannot find module 'node-fetch-npm'` [error](https://travis-ci.org/yash-nisar/docker-coala-base/builds/240711080).

[2017-06-08 12:54] yash-nisar commented on #181
`npm install --verbose` gives https://travis-ci.org/yash-nisar/docker-coala-base/builds/240772147#L2027-L2059

[2017-06-08 13:04] yash-nisar opened #182 "NPM error: Cannot find module 'node-fetch-npm'"
See https://travis-ci.org/yash-nisar/docker-coala-base/builds/240772147#L2027-L2059 for a verbose output.

[2017-06-08 13:05] yash-nisar commented on #181
Created a separate issue for the NPM error -> https://github.com/coala/docker-coala-base/issues/182

[2017-06-08 13:24] jayvdb commented on #182
Try installing a lower version of npm.

[2017-06-09 20:46] yash-nisar commented on #182
@jayvdb Tried downgrading npm but didn't work. We're using npm `5.0.0` and node `8.0.0`. How do I install a lower version of npm ?

[2017-06-10 08:46] jayvdb commented on #182
What did you try.  Show me a build log , or give a technical description of what you tried.

What command is currently installing npm?

[2017-06-12 10:48] yash-nisar commented on #182
`Installing: npm8-8.0.0-3.1.x86_64 [............done]` is currently getting installed.

Tried doing `npm install -g npm@latest-4`, build log -> https://travis-ci.org/yash-nisar/docker-coala-base/jobs/241315197

We have [these](https://github.com/coala/docker-coala-base/blob/master/Dockerfile#L62-L63) commands for the installation of `nodejs` and `npm`, but `npm` gets installed with `nodejs`.

[2017-06-12 10:51] yash-nisar commented on #182
Tried removing `node_modules` and reinstalling according to [this answer](https://stackoverflow.com/questions/9023672/how-do-i-resolve-cannot-find-module-error-using-node-js) but that didn't work either, build log -> https://travis-ci.org/yash-nisar/docker-coala-base/builds/240768995

[2017-06-12 10:59] yash-nisar commented on #180
There is no need to add `stylint` explicitly as the command: `npm install` autmatically installs it from `package.json` in the `coala-bears` directory.

[2017-06-12 11:45] jayvdb commented on #182
Have you tried changing the zypper command to install a different node / npm?

[2017-06-13 14:30] #180 closed, assigned to yash-nisar

[2017-06-14 04:09] yash-nisar commented on #182
Yes, see https://travis-ci.org/yash-nisar/docker-coala-base/builds/241335590

[2017-06-14 04:22] jayvdb commented on #182
As the log tells you, `nodejs=6.5.0` and `npm=3.10.3` are not valid package names for the `zypper` command. RTFM :P

[2017-06-18 00:40] coala-bot opened #183 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=5945cc07cf9c13503c97a445) by @Monal5031

[2017-06-18 05:25] yash-nisar opened #184 "Install packages libxml2-devel and libxslt-devel"
After the prevention of removal of `libasan3`, `libxslt-tools`, `python-javapackages`, `python-pyxb`, we get an [error](https://travis-ci.org/yash-nisar/docker-coala-base/builds/240701021), which is prevented by installing the packages `libxml2-devel` and `libxslt-devel`.

See https://github.com/coala/docker-coala-base/issues/181 for a verbose explanation.

[2017-06-18 05:47] yash-nisar commented on #182
Fixed by using the lower version i.e. nodejs6. nodejs8 was installed earlier.

[2017-06-18 14:29] #181 closed, assigned to yash-nisar

[2017-06-18 14:29] #182 closed, assigned to yash-nisar

[2017-06-18 14:29] #184 closed, assigned to yash-nisar

[2017-06-19 00:58] jayvdb commented on #55
After https://github.com/coala/docker-coala-base/pull/185 , we're back up to 2.222 GB

EDIT: And after https://github.com/coala/docker-coala-base/pull/188 , 2.23 GB

[2017-06-26 08:08] jayvdb opened #187 "Docker builds failing on postfix"
Both Docker Hub and Swarm builds of `pre` (`master`) are failing, even when the Travis build is working.

[code]

https://cloud.docker.com/swarm/coala/repository/registry-1.docker.io/coala/base/builds/cb131805-8234-40f4-ad3c-39cd036369a3
https://hub.docker.com/r/coala/base/builds/b5i9ekpfthjtzft3hb6alsr/

So much for docker being reproducible...

[2017-06-26 22:24] jayvdb commented on #187
The same problem can be seen on https://github.com/coala/docker-coala-base/pull/185 , with the job `ci/dockercloud ` failing with a link to https://cloud.docker.com/swarm/coala/repository/docker/coala/base/builds/17b68046-1bdc-431c-86bd-d22972d9e2b0 .

[2017-06-27 02:32] #187 closed, assigned to jayvdb

[2017-06-28 03:41] jayvdb commented on #177
It would be neat if it finished by posted the JSON to a gist with a predictable name (repo-slug.sha256?) so it can be easily found using the gist API.

[2017-06-28 03:42] jayvdb opened #189 "Move test scripts out of .travis.yml"
The tests should be runnable from outside Travis CI.

[2017-06-28 09:39] #189 closed, assigned to nobody

[2017-06-29 21:18] jayvdb opened #191 "Package names npm and php depend on zypper 'capabilities'"
Installing packages `npm` and `php` using `zypper` result in the messages:

These names are resolved using capabilities, which presumably requires more effort, but more importantly the version of npm and php is not specified and thus might change based on the 'capabilities' logic which may not be what we want.

[2017-06-30 06:07] jayvdb opened #193 "https://tailor.sh/ SSL 2&3 problems"
When switching to suse:leap (https://github.com/coala/docker-coala-base/issues/144), the tests fail on Tailor, which traces back to:

[code]

Oddly I cant reproduce it on a smaller image, so it is a change that occurs due to the packages being installed.

Anyway, the [ssl checks](https://www.ssllabs.com/ssltest/analyze.html?d=tailor.sh&latest) for that host show that SSL 2 & 3 are not supported.

[2017-06-30 15:03] jayvdb opened #194 "No recommends"
`zypper install` has a `--no-recommends` mode.

Without it, [latest master](https://travis-ci.org/coala/docker-coala-base/builds/248531134) shows
[code]

With `--no-recommends`, there is surprisingly actually more packages, and [little difference](https://travis-ci.org/jayvdb/docker-coala-base/builds/248755323) in the image increase:
[code]

But maybe that can be improved upon.

[2017-06-30 18:14] sils opened #195 "Remove commented code"
we have git for keeping old code, just add a comment referencing to the last commit holding it or so

[2017-07-01 00:18] jayvdb commented on #194
It may be that the [default config](https://github.com/coala/docker-coala-base/wiki/Tumbleweed-zypp.conf) already enables this option.  Possibly this line:

[code]

[2017-07-01 02:55] jayvdb opened #196 "Update openSUSE packages for python dependencies"
The following python dependencies are out of date:

- [ ] https://software.opensuse.org/package/python3-argcomplete 1.0 vs ~=1.8
- [ ] https://software.opensuse.org/package/python3-pydocstyle 1.1.1 vs ~=2.0
- [ ] https://software.opensuse.org/package/python3-vim-vint 0.3.11 vs ~=0.3.12
- [ ] https://software.opensuse.org/package/python3-vulture 0.12 vs 0.1.4.0

And some where coala is out of date

[2017-07-01 05:00] jayvdb opened #197 "Create openSUSE packages for python dependencies"
Python 3 packages are needed for

Core deps:
- coala_utils
- dependency_management
- PyPrint
- libclang-py3
- [ ] unidiff
- [ ] gemfileparser

Bear deps:
- [ ] docutils-ast-writer
- [ ] guess-language-spirit
- [ ] language-check
- memento_client
- [ ] docutils-ast-writer

Linters
- apertium_lint
- [ ] cmakelint
- [ ] dennis
- [ ] mypy-lang
- [ ] pyroma
- [ ] restructuredtext_lint
-

Test deps:

-

[2017-07-02 01:29] #191 closed, assigned to nobody

[2017-07-02 14:00] jayvdb opened #198 "Update openSUSE misc packages"
- [ ] opam 2.2.0 vs 2.2.2 required for InferBear.

[2017-07-03 00:52] jayvdb commented on #14
A new problem is that infer 0.11.0+ require `ocaml-version: [ >= "4.04.0" ]` which isnt yet packaged on openSUSE, which only has 4.03.0.
Also opam 2.0.0betas are now packaged by openSUSE, and it appears to be incompatible with the infer build script.

[2017-07-03 00:52] jayvdb commented on #198
Invalid.

[2017-07-03 00:52] #198 closed, assigned to nobody

[2017-07-03 03:24] jayvdb commented on #195
ok, im doing https://github.com/coala/docker-coala-base/issues/14 .
Easy to build from source.

[2017-07-11 22:35] jayvdb opened #199 "openSUSE_Tumbleweed devel:languages:lua repo disappeared"
http://download.opensuse.org/repositories/devel:languages:lua/openSUSE_Tumbleweed/ is a repo used by the Docker, and it has been disappeared.  The result is:

No provider of 'luarocks' found

[2017-07-12 00:17] jayvdb opened #200 "openSUSE devel:languages:nodejs nodejs-common broken"
Something is depending on `nodejs-common`, and it conflicts with all versions of nodejs that are available in that repository.

https://build.opensuse.org/package/view_file/devel:languages:nodejs/nodejs-common/nodejs-common.spec?expand=1 :

[code]

http://download.opensuse.org/repositories/devel:/languages:/nodejs/openSUSE_Tumbleweed/x86_64/

[code]

http://download.opensuse.org/repositories/devel

[2017-07-12 00:20] jayvdb commented on #199
Slightly related issue : https://github.com/coala/docker-coala-base/issues/200

[2017-07-12 00:24] jayvdb commented on #200
https://travis-ci.org/jayvdb/docker-coala-base/builds/252612898

[code]

So it is actually the version of nodejs in that repo (6.11.0) which depends on nodejs-common, and it rejects the same version of nodejs.  This feels like it must be a transient problem, which people must be screaming about, but it has been happening to me for two hours now.

[2017-07-12 00:27] jayvdb commented on #200
Upstream bug: https://bugzilla.opensuse.org/show_bug.cgi?id=1047844 intentional, a "few days"

[2017-07-12 05:53] #199 closed, assigned to jayvdb

[2017-07-12 11:46] AdamMajer commented on #200
It's fixed now

[2017-07-13 08:58] #179 closed, assigned to nobody

[2017-07-13 08:58] #193 closed, assigned to nobody

[2017-07-13 14:54] jayvdb opened #203 "Separate host OS docker image from coala docker image"
As the docker image is one complete script, each time a bug is fixed in coala or coala-bears for a release, the image is rebuilt and any new versions of the dependencies from openSUSE are automatically included in the next build.

e.g. https://github.com/coala/docker-coala-base/pull/170 fixes 0.9, but merging that would result in all sorts of dependencies to also be updated, potentially breaking s

[2017-07-13 14:56] jayvdb commented on #200
6.11.1 has been released, and this problem disappears.
Confirmed on https://travis-ci.org/jayvdb/docker-coala-base/builds/252779422

[2017-07-13 14:56] #200 closed, assigned to nobody

[2017-07-13 15:05] jayvdb commented on #144
The main versions from the 0.11 release [latest build](https://travis-ci.org/coala/docker-coala-base/builds/228277019) are

- python3-base-3.6.1
- nodejs7-7.8.0
- ruby2.2
- go-1.7.0
- Lua 5.3.3
- R-base-3.4.0
- perl-5.24
- php7-7.1.4
- java-1_8_0
- julia-0.5.1

The next release (0.12) can have higher versions, but switching to Leap shouldnt result in lower versions than those above from 0.11.

[2017-07-14 01:54] jayvdb opened #204 "Re-upgrade to node 7"
The releases 0.10 & 0.11 used node 7 (see https://github.com/coala/docker-coala-base/issues/144#issuecomment-315105919), but https://github.com/coala/docker-coala-base/issues/182 downgraded to node 6 as a workaround to Tumbleweed upgrading to node 8.

It would be unfortunate if release 0.12 downgraded to node 6, potentially causes breakages.

[2017-07-14 04:10] jayvdb commented on #83
Note bzr and mercurial (hgext) also still use Python 2

[2017-07-14 12:26] #204 closed, assigned to jayvdb

[2017-07-14 13:39] jayvdb opened #209 "Docker Cloud builds complete successfully without running tests"
This problem hasnt been experienced yet, but it could occur in the future, similar to how https://github.com/coala/docker-coala-base/issues/171 caused problems.

The solution is to include a `hooks/test` file, similar to the `hooks/build` file.

[2017-07-14 13:45] jayvdb opened #210 "Master broken by zypper conflict between kmod and kmod-compat"
[code]

https://travis-ci.org/coala/docker-coala-base/builds/253587305

https://cloud.docker.com/swarm/coala/repository/docker/coala/base/builds/ee31198c-41ea-478c-aa1b-3d65c6d9b517

[2017-07-14 22:46] jayvdb opened #211 "zypper: No provider of 'luarocks' found."
All new builds are failing with

[code]
https://travis-ci.org/coala/docker-coala-base/builds/253613612

[2017-07-14 23:34] jayvdb commented on #210
Worth noting, these conflicts likely are not even 'real' conflicts, as these manpages shouldnt be installed due to `rpm.install.excludedocs = yes`.

[2017-07-14 23:44] jayvdb commented on #211
I believe this is caused by the openSUSE Factory repository removing the generic 'luarocks'
package.
Instead they have `lua5x-luarocks`.
Switching to these version specific packages is useful for us anyway, as it ensures we have a more stable set of versions exposed to our users, where we explicitly change versions (and document them) instead of surprise upgrades whenever Tumbleweed (or Leap) chan

[2017-07-15 00:41] jayvdb commented on #210
As this is upstream, noting that the current (9ac1732) Dockerfile is also broken by https://github.com/coala/docker-coala-base/issues/211, which can be fixed by applying a9cd6832d first.

[2017-07-15 00:50] jayvdb commented on #210
Reported upstream as https://bugzilla.opensuse.org/show_bug.cgi?id=1048835

[2017-07-15 01:18] jayvdb commented on #117
Timeout occurred again at https://travis-ci.org/coala/docker-coala-base/builds/253819968

[2017-07-15 03:16] #210 closed, assigned to nobody

[2017-07-15 03:16] #211 closed, assigned to jayvdb

[2017-07-17 13:16] #209 closed, assigned to jayvdb

[2017-07-20 08:05] jayvdb commented on #211
c.f. https://gitlab.com/coala/package_manager/issues/156 this is also happening on Leap.

[2017-07-20 09:46] fneu commented on #144
@jayvdb Are you sure this switch is a good idea in general? Looking at #146 I'm not too sure.

The reason we went with Tumbleweed at the time was the availability of up-to-date packages in the official repositories. Main contenders at the time were arch and ubuntu. Both couldn't satisfy our package needs without the inclusion of arch's AUR or ubuntu's PPAs. I did not want to go that way because of

[2017-07-21 14:20] yash-nisar opened #213 "Add dependency `astyle`"

[2017-07-21 19:25] ronisbr commented on #144
Hi guys,

Leap has some very old packages because they are gathered from SLES. Given that, I was not able to update julia to version 0.5, since we can't update those packages. If you are planning to use julia > 0.4.7, then I **highly** suggest to use Tumbleweed. In Tumbleweed, we officially support julia 0.6 and some tests are done periodically. If you use Leap, you will have to download many depe

[2017-07-22 02:05] co-robo opened #215 "requests vs urllib3 version conflict"
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=5972b2e42723db8d5e3576f4)

[2017-07-22 02:15] jayvdb commented on #215
The source of the problem is https://github.com/coala/coala/issues/4512

Another potential approach is somehow telling pip to not upgrade urllib3 as it is unnecessary to do it in this case.

[2017-07-22 11:39] yash-nisar opened #216 "Dependency ``/usr/bin/ruby.ruby2.2`` needed by ``ruby2.2-rubygem-bundler-1.15.0-1.2.x86_64``"
See build https://travis-ci.org/jayvdb/docker-coala-base/builds/256346531

The source of problem and suggested solutions :
[code]

[2017-07-22 11:51] jayvdb commented on #144
Tumbleweed breaks almost daily.  Today it is https://github.com/coala/docker-coala-base/issues/216

[2017-07-22 11:54] jayvdb commented on #144
There is also a problem with lua53 at the moment, but it affects Leap also. https://github.com/coala/docker-coala-base/issues/211 / https://gitlab.com/coala/package_manager/issues/156  I havent raised that one upstream yet.

[2017-07-22 12:52] jayvdb commented on #203
The easiest way to resolve this is to create a new docker repo which uses the docker image built in this repo at release time, and patches it slightly when there is a coala patch to the release, or a critical update is needed to a linter.  i.e. minimising change and documenting each change that is made, rather than slurping in all sorts of changes from Tumbleweed (or Leap, for that matter) without

[2017-07-22 13:25] jayvdb commented on #144
@fneu , to be very blunt, Tumbleweed is a very rough ride, especially when we need to use packages in `devel:...` or worse the OBS Factory, which is the current situation.  These packages are left broken for up to a week without any obvious concern from upstream maintainers that the packages are broken.  Take the time to read the closed issues over the last few months.  Someone has to do that work

[2017-07-22 14:43] yukiisbored opened #217 "Fix typo on script"
There's a tiny typo on [docker-coala.sh line 26](https://github.com/coala/docker-coala-base/blob/master/docker-coala.sh#L26). There should be `=` (or ` ` but since the whole text uses `=` the first preferred for consistency) in between the flag and the parameter.

[2017-07-22 14:57] jayvdb commented on #215
Note this has been solved in coala, but there is now https://github.com/coala/docker-coala-base/issues/216, and https://github.com/coala/coala/issues/4519 also blocking a green build , and of course https://github.com/coala/docker-coala-base/pull/214

[2017-07-22 16:53] jayvdb commented on #144
Note I've tested switching to Leap 42.3, and it works well, but the highest base image is 42.2 despite https://github.com/openSUSE/docker-containers/issues/55 being closed as fixed.

[2017-07-22 17:13] jayvdb commented on #216
#146 solves this one.

[2017-07-22 22:20] ghost commented on #217
Fixed and PR submitted.

[2017-07-23 10:16] jayvdb commented on #216
Note this is also solved by https://github.com/coala/docker-coala-base/pull/208

[2017-07-27 15:39] jayvdb opened #219 "JSComplexityBear broken"
`new_process_output() got an unexpected keyword argument 'cc_threshold'`

https://travis-ci.org/coala/docker-coala-base/builds/256537062

This may have been a hidden error, exposed by recent improvement to coala core testing, or maybe something more sinister.

[2017-07-27 15:53] yash-nisar commented on #219
Shouldn't `coala-bears` be the right place for this issue ?

[2017-07-28 01:17] jayvdb commented on #219
Possibly/probably, but this is a bug in the docker also.
An upstream bug in coala-bears needs to be created if that is where the bug is, or upstream in coala if that is where the problem is.
The last two big bugs in the docker have been in coala.

[2017-07-28 16:12] yash-nisar commented on #219
Created an issue [here](https://github.com/coala/coala/issues/4576) which is the cause of the issue.

[2017-07-30 06:07] yash-nisar opened #220 "Logging error"
[code]
See https://travis-ci.org/coala/docker-coala-base/builds/256537062 for the complete log.
Upstream issue : https://github.com/coala/coala-quickstart/issues/143

upstream

[2017-07-30 06:25] #219 closed, assigned to yash-nisar

[2017-07-30 11:10] #213 closed, assigned to yash-nisar

[2017-07-30 11:10] #216 closed, assigned to nobody

[2017-07-30 11:16] jayvdb commented on #220
Fixed upstream

[2017-07-30 11:16] #220 closed, assigned to nobody

[2017-07-30 11:17] jayvdb commented on #215
Fixed upstream

[2017-07-30 11:17] #215 closed, assigned to nobody

[2017-07-30 15:39] jayvdb opened #221 "Pin Python minor version"
We've had some 'hard to debug' breakages when versions of runtimes are updated.
Most recent was https://github.com/coala/docker-coala-base/issues/216 with Ruby, but also https://github.com/coala/docker-coala-base/issues/182 with Node not long ago.
The breakages are usually because the new version is released into the repositories we are using before they are stable and other dependent packages are

[2017-07-30 23:20] jayvdb opened #223 "openSUSE leap python3.6 incompatible with python3-pip"
There is a rather interesting issue with Leap 42.2 worth separately raising.

After pinning Python 3.6 (https://github.com/coala/docker-coala-base/pull/222), and using the Python Factory repo, we run into [this beauty](https://travis-ci.org/coala/docker-coala-base/builds/259197379#L706):

[code]

[2017-07-30 23:21] jayvdb commented on #223
The only solution I found, other than regressing to Python 3.4, is to avoid installing python3-pip.

[2017-07-31 00:18] jayvdb opened #224 "Additional bears test fails frequently"
Some builds are failing in the additional bears test. i.e. using `NoCommentsBear` here:

https://github.com/coala/docker-coala-base/blob/master/hooks/test#L37

[2017-07-31 02:01] #221 closed, assigned to nobody

[2017-07-31 04:45] jayvdb commented on #224
See https://travis-ci.org/coala/docker-coala-base/builds/259220329 for an example

(lots of example PRs are being restarted, both on Docker & Travis.  With Travis, this restarting means the evidence disappears.)

[2017-08-01 01:34] jayvdb opened #226 "Use rocker"
Somewhat less of a violent change than DockerMate (https://github.com/coala/docker-coala-base/issues/88), [`rocker`](https://github.com/grammarly/rocker) adds lots of useful features and apparently has only a few un-implemented features of `docker build`.

[2017-08-01 02:52] jayvdb opened #228 "shortlog_regex rejects whitespace before :"
The `.coafile` `shortlog_regex` rejects any whitespace before the first `:`

[2017-08-01 03:32] jayvdb opened #230 "Use rocker to push multiple images"
After https://github.com/coala/docker-coala-base/issues/226 , there is a good chance that we can use rocker to implement https://github.com/coala/docker-coala-base/issues/203 , a separation between a OS layer image and another layer that includes coala fixes and linter fixes only.

This can be done by pushing the OS layer image during initial release builds, and then using it for patch builds.

[2017-08-01 17:02] #228 closed, assigned to nobody

[2017-08-03 11:44] jayvdb opened #234 "rubygem faraday_middleware-0.12.1 broken"
[code]

https://travis-ci.org/jayvdb/docker-coala-base/builds/260568358#L2508

[2017-08-03 13:18] jayvdb opened #235 "Install native gems"
There are a lot of gems which should be pre-installed from openSUSE, especially native gems
Currently the [list](https://travis-ci.org/coala/docker-coala-base/builds/260372826#L2407) is

[code]

[2017-08-03 13:52] jayvdb commented on #234
Problem here : https://github.com/lostisland/faraday_middleware/issues/165

[2017-08-03 16:10] jayvdb commented on #234
Fixed upstream with 0.12.2

[2017-08-03 16:10] #234 closed, assigned to nobody

[2017-08-03 17:48] jayvdb opened #237 "New bear HTTPolice breaks the build"
[code]

[2017-08-03 18:26] jayvdb commented on #144
https://hub.docker.com/_/opensuse/ now has 'leap' pointing at 42.3, and 42.2 is the old one.

[2017-08-03 19:32] #237 closed, assigned to nobody

[2017-08-04 05:41] jayvdb commented on #224
My bet is the cause is https://github.com/coala/coala/pull/4192

[2017-08-04 05:45] jayvdb commented on #224
Raised https://github.com/coala/coala/issues/4613 (PR https://github.com/coala/coala/pull/4614) in the hope that it exposes something.

[2017-08-04 16:40] jayvdb opened #240 "Julia 0.6 cleanup"
The coala docker 0.11 included Julia 0.6, replacing 0.5

https://travis-ci.org/coala/docker-coala-base/builds/254922111#L1155

The Dockerfile has 0.5 specific cleanup from 70fc29c4 (PR https://github.com/coala/docker-coala-base/pull/116) which needs to be make more generic to work for 0.6 and beyond.

[2017-08-05 02:20] jayvdb commented on #144
Note an update to https://github.com/coala/docker-coala-base/issues/144#issuecomment-315105919

The most recent docker [build of 0.11](https://travis-ci.org/coala/docker-coala-base/builds/254922111) release (unintentionally) upgraded Julia from 0.5.1 to 0.6.0

Leap 42.3 currently has

- julia 0.4.7, and 0.6 is blocked in https://build.opensuse.org/package/show/science/julia due to lack of dependen

[2017-08-05 07:05] jayvdb commented on #224
The earliest PR failure I can find is https://travis-ci.org/coala/docker-coala-base/builds/256536397

A good run looks like:

[code]

A bad run looks like

[code]

Note that around this time 6f0b5b90ee occurred, so maybe that is also related.

[2017-08-06 04:29] #49 closed, assigned to nobody

[2017-08-06 04:51] jayvdb commented on #224
ugh. https://travis-ci.org/jayvdb/docker-coala-base/builds/261254162 is failing earlier, in the first quickstart generated coala-ci run.

[2017-08-06 05:40] jayvdb commented on #224
A good run, with `--verbose` enabled, looks like https://travis-ci.org/jayvdb/docker-coala-base/builds/261455148

[2017-08-06 09:16] #226 closed, assigned to nobody

[2017-08-06 10:54] #240 closed, assigned to jayvdb

[2017-08-06 23:11] jayvdb commented on #55
After https://github.com/coala/docker-coala-base/pull/241 , the size is back down to 2.2Gb

[2017-10-27 16:38] co-robo opened #242 "Add ISSUE_TEMPLATE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f360f4e44c43700a8650c6)

[2017-10-27 17:10] co-robo opened #243 "Add PULL_REQUEST_TEMPLATE.md"
Add a file named `PULL_REQUEST_TEMPLATE.md` which includes general information and guidelines for the author of Pull Request, you can see PULL_REQUEST_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f36892614889d4750a8f06)

[2017-10-30 13:04] co-robo opened #244 "Document that the docker does not support Python 2 analysis"
difficulty/low
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=59f7234797cedeb0482b45fb)

[2017-11-06 20:38] RaiVaibhav opened #245 "Replace MAINTAINER with LABEL MAINTAINER"
The MAINTAINER instruction has been [deprecated](https://docs.docker.com/engine/reference/builder/#maintainer-deprecated)

difficulty/newcomer

[2017-11-11 16:21] co-robo opened #247 "Add .editorconfig file"
Our style follows the example given on http://editorconfig.org/ for Python and YAML
label: difficulty/low initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im//mohitkyadav?at=5a0723a6b20c642429b72750)

[2017-11-12 23:22] Makman2 commented on #247
See editorconfig file in https://github.com/coala/coala

[2017-11-20 21:38] co-robo opened #248 "cache intermediate build layers http://atodorov.org/blog/2017/08/07/faster-travis-ci-tests-with-docker-cache/"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/devops?at=5a134b6a2837ee5106aa1e5c)

[2017-12-29 17:13] sils commented on #217
test

[2018-01-08 20:19] 916253 commented on #223
Using [This](https://pip.pypa.io/en/stable/installing/) seems to bypass the issue altogether

[2018-01-21 19:00] duskybomb commented on #245
@Makman2 assign this to me

[2018-01-21 19:13] Makman2 commented on #245
Unassigned due to inactivity.

[2018-03-15 19:50] masterchef2209 commented on #243
I would like to go ahead with this issue as a new comer
How do i proceed

[2018-03-17 14:27] Makman2 commented on #243
Please see our newcomer guide.

[2018-03-17 19:47] Makman2 opened #250 "Remove rultor configs and related stuff"
rultor is not used any more.

[2018-03-17 19:53] Makman2 opened #251 "Change maintainer to "The coala developers""
Everyone is doing something on coala repos, not just @fneu ;)

[2018-03-17 21:15] Makman2 opened #253 "Dockerfile is broken"
The zypper install phase fails, seems some dependency is not found: https://travis-ci.org/coala/docker-coala-base/builds/354834666?utm_source=github_status&utm_medium=notification

[2018-04-16 14:01] ishanSrt opened #254 "add csslint"

[2018-05-08 01:58] #250 closed, assigned to Makman2

[2018-05-08 01:58] #251 closed, assigned to Makman2

[2018-09-16 03:30] Anujg935 commented on #217
is this issue still open for me to work upon

[2018-09-20 09:53] friyaz commented on #217
I would like to work on this issue . Is this still open ?

[2018-12-23 02:45] kjschiroo opened #255 "Release new coala/base image"
It looks like there has been a lot of progress over the last year in `coala`. It would be awesome to publish a new `coala/base` image to reflect it. It appears to be 20 months old right now.

[2019-02-24 20:08] LakshyAAAgrawal commented on #217
Hey,
I would like to fix this up. I have requested access to gitlab, however, haven't yet received it. Could I please be assigned this issue?

[2019-10-08 13:05] surgura commented on #255
It would be nice to pick this up. It is currently difficult to expand the image with possible new tools. In addition the current tools are probably updated.

[2020-04-16 19:58] cathlinlord commented on #253
Through initially trying to solve issue \#6118, it was found that the version of Python used within this docker image cannot handle f-strings. It was determined that several of the original binaries, including Python 3.6, are no longer available through OpenSUSE Tumbleweed. This seems to be the result of a larger issue in that the docker file is in need of some updates to be compliant with the cur

[2020-09-15 21:58] eqj619 opened #256 "Coala in docker on mac failed code analysis due to file access issue"
Problem
Coala in docker failed code analysis due to file access issue.

I try to execute coala in docker container following by coala tutorial. However, coala did not indicate report and not modify source code as description at this tutorial. http://docs.coala.io/en/latest/Users/Tutorial.html
note: I tried to give “Full Disk Access” to “docker” by Security & Privacy at macOS control panel. but, th